.appointment {
    .location-search-box {
        display: flex;
        align-items: center;
        width: 286px;
        position: relative;
    }
    
    .location-search-box>img {
        border: 1px solid #ddd;
        border-right: none;
        height: 40px;
        padding-left: 5px;
    }
    
    .search-location-input-box {
        height: 40px;
        width: 100%;
        padding: 6px 20px 5px 10px;
        border: 1px solid #ddd;
        border-left: none;
        outline: none;
        cursor: pointer;
        font-size: 14px;
    }
    
    .search-location-input-results {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        z-index: 5;
        margin-top: 2px;
        border: 1px solid #555;
    }
    
    .search-location-result-item {
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-bottom: 1px solid #e0e0e0;
        padding: 10px 12px;
        column-gap: 14px;
        cursor: pointer;
        text-align: left;
    }
    
    .search-location-result-item>span:nth-of-type(1) {
        border: 1px solid #f0f0f5;
        border-radius: 50%;
        padding: 8px;
        background-color: #f0f0f5;
    }
    
    .search-location-result-item>span:nth-of-type(2)>div:nth-of-type(1) {
        color: #414146;
        font-size: 14px;
    }
    
    .search-location-result-item>span:nth-of-type(2)>div:nth-of-type(2) {
        color: #787887;
        font-size: 12px;
    }
    
    .search-location-result-item:hover {
        background-color: #f0f0f5;
    
    }
    
    .doctor-search-box {
        display: flex;
        align-items: center;
        width: 430px;
        margin-top: 5px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0,.1) 0 - 1px 0 0 inset;
        border-radius: 5px;
        position: relative;
    }
    
    .doctor-search-box .fa.fa-search {
        position: absolute;
        right: 10px;
        color: #0BD5AA;
    }
    .search-doctor-input-box {
        width: 100%;
        padding: 9px 12px;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        border-radius: 8px;
        border: 2px solid #0BD5AA;
    }
    
    .search-doctor-input-results {
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        z-index: 5;
        margin-top: 2px;
        max-height: 420px;
        border: 1px solid #0BD5AA;
        background-color: #fff;
        box-shadow: 0px 2px 6px #0000004d;
        border-radius: 4px;
    }
    
    .search-doctor-result-item {
        height: 30px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e0e0e0;
        padding: 10px 12px;
        column-gap: 14px;
        cursor: pointer;
        text-align: left;
    }
    
    .search-doctor-result-item:hover {
        background-color: #f0f0f5;
    }
    
    .search-doctor-result-item>span:nth-of-type(1) {
        color: #0BD5AA;
        font-size: 22px;
    }
    
    .search-doctor-result-item>span:nth-of-type(2) {
        font-size: 14px;
        color: #414146;
    }
    
    .search-doctor-result-item>span:nth-of-type(3) {
        font-size: 11px;
        flex-grow: 1;
        color: #787887;
        text-align: right;
        text-transform: uppercase;
        justify-self: flex-end;
    }
    .home-search-container {
        /* width: 712px; */
        display: flex;
        align-items: center;
    }
}
.finddoctor.appointment {
    display: flex;
    justify-content: center;
    flex-direction: column;

    > div:nth-child(2) {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #4F4C4C;

        h1 {
            font-family: "Merriweather", serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            margin: 0;
        }
        p {
            margin: 0;
            padding: 20px 0;
        }
    }
} 
@media (min-width: 768px) {
    .finddoctor.appointment { 
        padding-top: 40px;
        flex-direction: row;
    }
}