
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FAFEFD;
    margin: 2px;
    z-index: 100;
    
    .nav-logo {
        font-size: 0;
    }
    
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px;
    }
}

.nav-icon {
    background-color: #0bd5aa;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 29px;
    cursor: pointer;
}
.nav-links {
    position: absolute;
    top:100%;
    left: 0%;
    list-style: none;
    margin: 0;
    padding: 13px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 7px #0000003d;
    background-color: #fff;
    width: 100%;
    border-radius: 4px;
    gap: 16px;
    align-items: center;
    box-sizing: border-box;

    li {
        width: 100%;

        a.action-btn {
            border: 2px solid #0BD5AA;
            padding: 5px 0;
            min-width: 90px;
            border-radius: 50px;
        }
        a.action-btn:hover {
            color: #fff;
            background-color: #0BD5AA;
            text-decoration: none;
        }
        a {
            text-decoration: none;
            color: #4F5352;
            font-size: 1em;
            text-align: center;
            width: 100%;
            display: block;
            box-sizing: border-box;
        }
        a:hover {
            text-decoration: underline;
            color: #0BD5AA;
        }
        a:active {
            text-decoration: underline;
            color: #0BD5AA;
            font-weight: bold;
        }
    }
    
}
@media (max-width: 1000px) {
    .nav-links.active {
        display: flex;
    }
    .nav-links {
        display: none;
    }
}
@media (min-width: 1000px) {
    .loggedin {
        display: inline-flex;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        gap:4px;
    }
    nav {
        display: flex;
        justify-content: center;
   
        .nav-icon {
            display: none;
        }
        .nav-container {
            max-width: 1400px;
            width: 100%;
            display: grid;
            grid-template-columns: 250px 1fr;
            align-items: center;
    
            .nav-links {
                background-color: unset;
                position: unset;
                box-shadow: none;
                flex-direction: row;
                gap: 20px;
                justify-content: right;
                padding: 0;

                li {
                    width: unset;
                }
                
            }
        }
    }
}